body,html{
  height: 100%;
  width: 100%;
  margin:0px;
  z-index:-1;
}

#Main{
  height: 100%;
  width: 100%;
  margin:0px;
  left:0;
  top:0;
  z-index:-1;
}

#container{
  height: 100%;
  width: 100%;
  margin:0px;
}


.SnapMainDiv{
    height: auto;
    width: 70px;
}

.SnapImgDiv{
    height: 100%;
    width: 100%;
    text-align: center;
}

.SnapImg{
    height:auto;
    width:100%;
}


