body,html,#container{
  height: 100%;
  //width: 600px;
  margin:0px
}

.SnapMainDiv{
    height: auto;
    width: 70px;
}

.SnapImgDiv{
    height: 100%;
    width: 100%;
    text-align: center;
}

.SnapImg{
    height:auto;
    width:auto;
}
