#TopbarDiv{
    width:100%;
    height:60px;
    background:#00A2CA;
}

#NavDiv{
    width:100%;
    height:100%;
    background:#00A2CA;
}


ul#nav{ 
    width:90%; 
    height:40px; 
    background:#00A2CA;
    margin:0 0; 
} 

ul#nav li{
    display:inline; 
    height:40px;
} 

ul#nav li a{
    display:inline-block; 
    padding:0 10px; 
    height:40px; 
    line-height:40px; 
    color:#FFF; 
    font-family:"\5FAE\8F6F\96C5\9ED1"; 
    font-size:16px;
} 

ul#nav li a:hover{background:#0095BB}

ul#nav li a#Logout{
    display:inline-block; 
    padding:0 10px; 
    height:40px; 
    line-height:40px; 
    color:#FFF; 
    font-family:"\5FAE\8F6F\96C5\9ED1"; 
    font-size:10px;
} 
